@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@LanguagePossibilities.Resources.Texts.Home_Index_p1</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">@LanguagePossibilities.Resources.Texts.LearnMore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@LanguagePossibilities.Resources.Texts.GettingStarted</h2>
        <p>
            @LanguagePossibilities.Resources.Texts.Home_Index_p2
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">@LanguagePossibilities.Resources.Texts.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@LanguagePossibilities.Resources.Texts.GetMoreLibraries</h2>
        <p>@LanguagePossibilities.Resources.Texts.Home_Index_p3</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">@LanguagePossibilities.Resources.Texts.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@LanguagePossibilities.Resources.Texts.WebHosting</h2>
        <p>@LanguagePossibilities.Resources.Texts.Home_Index_p4</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">@LanguagePossibilities.Resources.Texts.LearnMore &raquo;</a></p>
    </div>
</div>